.img {
  width: 100%;
}

.text {
  width: 100%;
}

.image img {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

#title {
  font-weight: bold;
  font-size: 20px;
}

.link {
  max-width: 400px;
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
  text-decoration: none;
}

small {
  color: rgb(130, 10, 10);
}

.image img:hover {
  filter: brightness(125%);
}
