.banner-2 {
  background-color: #b80000;
  color: white;
  font-weight: bold;
}

.content {
  margin-top: 3%;
  margin-bottom: 5%;
}

.title {
  margin-bottom: 3%;
  border-bottom: 2px solid red;
}

.title h1 {
  font-size: calc(1em + 3vmin);
  font-weight: 900;
}

.page-image {
  max-width: 100%;
}

.title,
.head-text {
  font-weight: 900;
}

.content-text,
.head-text {
  font-size: calc(0.5em + 1vmin);
}

.head-text {
  margin-top: 2%;
}
